body {
  background-color:#8CD790;
}
img {
  width: 150px;
  height: auto;
}
p{
  padding: 10px;
  font-family: monospace;
  font-weight: bold;
  background-color: #C5FBDC;
  border-width: 3px;
  border-style: dashed;
  border-color: black;
}
.col-4 {
  padding: 10px;
  border-color: #6D545D;
  border-width: 2px;
  border-style: groove;
  background-color:#F2E5E2;
}
#submitButton {
  background-color: #72A1E5;
}
#showNumbers{
  background-color: #D9FED7;
  font-family: monospace;
  font-weight: bold;
}
